<a href="https://colab.research.google.com/github/davidmertenjones/ECON328/blob/master/hw_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Problem 1:
Create a variable that adds three numbers together and raises the sum to the power of 7. Print out the variable to view the results

In [0]:
n = (2 + 4 + 6) ** 7
print(n)

35831808

In [0]:
def threenumsumtoseventh(x, y, z):
  return (x + y + z) ** 7

In [0]:
print(threenumsumtoseventh(2, 4, 6))

35831808

## Problem 2:
Create a list called my_list that contains the phrase 'the cat in the hat', where each word is a separate element of the list

In [0]:
my_list = ['the', 'cat', 'in', 'the', 'hat']

print(my_list)

['the', 'cat', 'in', 'the', 'hat']
the cat in the hat

## Problem 3:
### 3.1
Look up the command join: https://www.programiz.com/python-programming/methods/string/join 

Create a new variable called my_string that joins together the elements of my_list by ';;'

In [0]:
my_string = ';;'.join(my_list)
print(my_string)

the;;cat;;in;;the;;hat

### 3.2
Look up the command split: https://www.geeksforgeeks.org/python-string-split/

Use the split command to turn my_string back into my_list

In [0]:
my_string.split(';;')

['the', 'cat', 'in', 'the', 'hat']

### 3.3
Look up the command replace: https://www.programiz.com/python-programming/methods/string/replace

Use the replace command to replace any occurences of the word 'the' with 'awesome' store the results in a list called my_list2

In [0]:
my_list2 = [word.replace('the', 'awesome') for word in my_list]

my_list2

['awesome', 'cat', 'in', 'awesome', 'hat']

## Problem 4:
### 4.1 
Repeat all of the elements of my_list2 5 times and store the results in a variable called my_list3

In [0]:
my_list3 = my_list2 * 5

my_list3

['awesome',
 'cat',
 'in',
 'awesome',
 'hat',
 'awesome',
 'cat',
 'in',
 'awesome',
 'hat',
 'awesome',
 'cat',
 'in',
 'awesome',
 'hat',
 'awesome',
 'cat',
 'in',
 'awesome',
 'hat',
 'awesome',
 'cat',
 'in',
 'awesome',
 'hat']

### 4.2 

What is the length of my_list3?

In [0]:
len(my_list3)

25